azure-core
azure-functions
azure-identity
azure-storage-blob
certifi
cffi
charset-normalizer
cryptography
idna
isodate
msal
msal-extensions
portalocker
pycparser
PyJWT
requests
setuptools
six
typing_extensions
urllib3
